<?xml version="1.0"?>
<robot name="evolved_robot">
  <material name="metal">
    <color rgba="0.7 0.7 0.7 1.0"/>
  </material>
  <material name="plastic">
    <color rgba="0.3 0.3 0.9 1.0"/>
  </material>
  <material name="rubber">
    <color rgba="0.1 0.1 0.1 1.0"/>
  </material>
  <material name="red">
    <color rgba="1.0 0.0 0.0 1.0"/>
  </material>
  <material name="wheel_material">
    <color rgba="0.2 0.2 0.2 1.0"/>
  </material>
  <link name="base_link">
    <visual>
      <geometry><box size="0.30973124463305235 0.2637592270063851 0.09376620273417276"/></geometry>
      <material name="rubber"/>
    </visual>
    <collision>
      <geometry><box size="0.30973124463305235 0.2637592270063851 0.09376620273417276"/></geometry>
    </collision>
    <inertial>
      <mass value="5.0"/>
      <inertia ixx="0.06530085883849314" ixy="0" ixz="0" 
               iyy="0.08727128723093809" iyz="0" 
               izz="0.1379186447774546"/>
    </inertial>
  </link>
  <link name="link1">
    <visual>
      <geometry><cylinder radius="0.07366644217328498" length="0.2152068407475602"/></geometry>
      <material name="rubber"/>
    </visual>
    <collision>
      <geometry><cylinder radius="0.07366644217328498" length="0.2152068407475602"/></geometry>
    </collision>
    <inertial>
      <mass value="0.5"/>
      <inertia ixx="0.005216184867662964" ixy="0" ixz="0" 
               iyy="0.005216184867662964" iyz="0" 
               izz="0.0027133723512349703"/>
    </inertial>
  </link>
  <joint name="joint1" type="fixed">
    <parent link="base_link"/>
    <child link="link1"/>
    <origin xyz="0 0 0.04688310136708638" rpy="0 0 0"/>
    <axis xyz="-0.6723788963162406 -0.08701828131961674 0.7350744441923787"/>
    <dynamics damping="0.8932152967101162" friction="0.1"/>
  </joint>
  <link name="link2">
    <visual>
      <geometry>
        <cylinder radius="0.04591898102455638" length="0.04609916563540056"/>
      </geometry>
      <material name="wheel_material"/>
    </visual>
    <collision>
      <geometry>
        <cylinder radius="0.04591898102455638" length="0.04609916563540056"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="1.0"/>
      <inertia ixx="0.0007042326272734003" ixy="0" ixz="0" 
               iyy="0.0007042326272734003" iyz="0" 
               izz="0.0010542764091667845"/>
    </inertial>
  </link>
  <joint name="joint2" type="fixed">
    <parent link="base_link"/>
    <child link="link2"/>
    <origin xyz="0 0 0" rpy="1.5708 0 0"/>
    <axis xyz="0 0 1"/>
    <dynamics damping="0.21514962074300126" friction="0.1"/>
  </joint>
  <link name="link3">
    <visual>
      <geometry><cylinder radius="0.037788071872525975" length="0.06036328961391901"/></geometry>
      <material name="rubber"/>
    </visual>
    <collision>
      <geometry><cylinder radius="0.037788071872525975" length="0.06036328961391901"/></geometry>
    </collision>
    <inertial>
      <mass value="0.5"/>
      <inertia ixx="0.0006606284883786191" ixy="0" ixz="0" 
               iyy="0.0006606284883786191" iyz="0" 
               izz="0.0007139691879215944"/>
    </inertial>
  </link>
  <joint name="joint3" type="fixed">
    <parent link="base_link"/>
    <child link="link3"/>
    <origin xyz="0 0 0.09688310136708639" rpy="0 0 0"/>
    <axis xyz="-0.9564723408981478 -0.2641552242324677 -0.12402692694536921"/>
    <dynamics damping="0.6617432306237528" friction="0.1"/>
  </joint>
</robot>